*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav
{
    background-color: #ffb300;
    display: block;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
}

#fix{
    float: right;
    margin-top: -3.5em;
    margin-right: 4em;
}


.main_logo
{
    margin-left: 4%;
    width: 350px;
    top: auto;
}

.home
{
    padding: 1rem;
    text-decoration: none;
    color: #000099;    
}


#homeeee{
    background-color: #cc8f00;
}
#serv{
    background-color: #cc8f00;
}
#serv_list{
    background-color: #4d4dff;
    font-weight: bold;
    color: yellow;
}
#serv_photo{
    background-color: #4d4dff;
    font-weight: bold;
    color: yellow;
}
#serv_web{
    background-color: #4d4dff;
    font-weight: bold;
    color: yellow;
}
#serv_prog{
    background-color: #4d4dff;
    font-weight: bold;
    color: yellow;
}

#blo{
    background-color: #cc8f00;
}
#abou{
    background-color: #cc8f00;
}
#contat{
    background-color: #cc8f00;
}
.home:hover
{
    background-color: #cc8f00;
    font-weight: bold;
    transition: background .8s ease-out;
}

.services {
    padding: 1rem;
    background-color: #ffb300;
    border: none;
    font-size: medium;
    color: #000099;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    cursor: pointer;
}

.tab {
    padding: 1rem;
    text-decoration: none;
    display: inline;
    position: relative;
    color: #000099;
    cursor: pointer;
}
.tab:hover{
    background-color: #cc8f00;
    font-weight: bold;
    transition: background .8s ease-out;
}





.services:hover
 {
     background-color: #cc8f00;
     font-weight: bold;
     transition: background .8s ease-out;
}
.dropdown-menu {
    position: relative;
    display: inline-block;
}
.menu-content {
    display: none;
    position: absolute;
    background-color: #323232;
    min-width: 227px;
    z-index: 3;
}
.links-hidden{
    display: inline-block;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    font-size: 18px;
    transition: background .8s ease-out;
    
 }
 .links-hidden{
    display: block;
}

.links-hidden:hover{
    background-color: #4d4dff;
    color: yellow;
    font-weight: bold;
}
.dropdown-menu:hover .menu-content {
    display: block;
 }
.dropdown-menu:hover {
    background-color: black;
 }

 

/*read more button here */
#mtl1, #mtl2, #mtl3, #mth1, #mth2, #mth3, #mtab1, #mtab2, #mtab3, #mto1, #mto1, #mto3 {
    display: none;
}
.rmb-b-s{
    color: blue;
    cursor: pointer;
    font-size: small;
}

 @media all and (max-width:1250px) {
    .main_logo{
        width: 250px;
        margin-top: 0mm;
    }

 }

 /*mobile view*/
@media all and (max-width: 910px) {
    .nav{
        justify-content: center;
   }

   
   

.toggle {
    order: 1;
  }

.item{
    width: 100%;
    text-align: center;
    order: 5;
    display: none;
  }
.item.active{
    display: block;
}


   /* Navbar Toggle */
.toggle {
   cursor:pointer;
 }
.tabb{
    float: right;
    margin-right: 3em;
    padding: 1rem;
    display: inline-block;
}
#fix{
    width: 100%;
    margin: 0;
    margin-bottom: -2em;
}
.services,.home,.tab{
    background-color: #ffb300;
}


.dropdown-menu{
    width: 100%;
}
.menu-content{
    width: 100%;
    position: initial;
}


.bars {
   background: black;
   display: inline-block;
   height: 3px;
   position: relative;
   transition: background .2s ease-out;
   width: 23px;
}
.bars:before,
.bars:after {
   background: black;
   content: '';
   display: block;
   height: 100%;
   position: absolute;
   transition: all .2s ease-out;
   width: 100%;
}
.bars:before {
   top: 8px;
}
.bars:after {
   top: -8px;
}
}


@media all and (max-width: 500px){
    *{
        font-size: 15px;
    }
    .services{
        font-size: 15px;
    }
    .links-hidden{
        font-size: 15px;
    }
    .tabb{
        margin-right: 0.5em;
    }
    
}

@media all and (max-width: 360px){
    .main_logo{
        width: 170px;
        margin: 0;
    } 
}
@media all and (max-width: 235px){
    .main_logo{
        width: 100px;
    }  
}