*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#trustee-partner-full-bck{
  background-image: url(/contant/image/one_use/footer.png);
  padding: 2em;
  opacity: 0.9;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  min-width: 100%;
  min-height: 100vh;
}

#bi-te-hero{
  font-size: 95px;
  color: white;
  line-height: 114px;
  padding: 33vh 1.3em 0em 0.5em;
  font-weight: 400;
  font-family: 'DM Serif Display';
}

#full-subheader-done{
  width: 100%;
  display: inline-block;
}
#subheader-text-ecommerce{
  margin-top: 16vh;
  float: right;
  color: white;
  margin-right: 2em;
  font-size: x-large;
  width: 40%;
}
#cont-btn-drt{
  background-color: #e5e500;
  color: black;
  padding: 6px 9px 6px 9px;
  cursor: pointer;
  border-radius: 20px;
  font-size: x-large;
  margin-left: 42%;
}
#cont-btn-drt:hover{
  outline: none;
  border: none;
}


/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}
  
  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(0, 0, 0,0.8);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(255, 179, 0, 0.8);
}
  
  /* Caption text */
.text {
    font-size: 15px;
    padding: 8px 12px;
    margin-left: 25%;
    position: absolute;
    bottom: 25%;
    width: 50%;
    text-align: center;
    background-color: rgb(255, 179, 0,0.7);
}
/*
#text-oth1{
  margin-left: 2%;
}
#text-oth2{
  margin-left: 68%;
}
#text-oth1, #text-oth2{
  width: 30%;
  background-color: rgb(255, 179, 0);
  bottom: 12%;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  text-align: center;
  font-weight: bold;
}*/


.slideshow-container:hover .text{
  font-weight: bold;
}
.slide-see-more-btn{
  cursor: pointer;
  padding: 11px;
  background-color: #ff1e56;
  text-decoration: none;
  color: white;
  margin-top: 2em;
  border-radius: 25px;
}
.slider-width-height{
  min-height: 85vh;
  max-height: 85vh;
  min-width: 100%;
  max-width: 100%;
  object-fit: fill;
  object-position: top;
}

.full-top-back{
  background-image: url(/contant/image/one_use/top-home.png);
  background-size: cover;
  padding: 1em 0.5em 1em 0.5em;
  text-align: center;
  justify-content: space-around;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cntt-and-btn{
  max-width: 50%;
  text-align: center;
  color: white;
}
.btn-first-contact{
  padding: 4px 8px 4px 8px;
  background-color: #e5e500;
  letter-spacing: 1..5px;
  color: black;
  font-size: large;
  box-shadow: 6px 6px #ffff7f;
  cursor: pointer;
  text-decoration: none;
}
.btn-first-contact:hover{
  background-color: #000019;
  text-decoration: underline;
  box-shadow: none;
  color: white;
}



  
  /* Number text (1/3 etc) 
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    bottom: 0;
  }*/
  
  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 2em 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.slide-dot-combo{
  margin-top: -5.5em;
  margin-bottom: 0;
  background-color: none;
  position: relative;
}
.activeslide, .dot:hover {
    background-color: #ffb300;
}
  
  /* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
 
.notice_lines{
  border: 3px solid black;
  padding: 0.5em;
  margin: 0.3em;
}
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
/*  
  @media all and (max-width: 1000px) {
    #text-oth1{
      width: 80%;
    }
    #text-oth2{
      width: 80%;
      margin-left: 17%;
    }
  }*/

  @media all and (max-width: 900px) {
    #bi-te-hero{
      font-size: 55px;
      line-height: 70px;
    }
    #cont-btn-drt{
      margin-left: 34%;
    }
  }

  @media all and (max-width: 600px) {
    .slide-see-more-btn{
      padding: 5px;
      font-size: 13px;
    }
   
    .text{
      width: 80%;
      margin-left: 10%;
    }

    #bi-te-hero{
      font-size: 45px;
      line-height: 55px;
    }
    #cont-btn-drt{
      margin-left: 30%;
    }
    #subheader-text-ecommerce{
      width: 75%;
    }
    
  }

  @media only screen and (max-width: 500px) {
    #bi-te-hero{
      font-size: 25px;
      line-height: 35px;
    }
    #cont-btn-drt{
      margin-left: 25%;
      font-size: large;
      padding: 3px 5px 3px 5px;
    }
    #subheader-text-ecommerce{
      width: 80%;
      font-size: large;
    }
  }

  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text, #trustee_partner_text_animation {font-size: 11px}
    #cont-btn-drt{
      margin-left: 0;
    }
  }